.text_icon {
    color: rgba(255,255,255,0.9);
}

.nav_home{
    background-color: var(--rosso-corsa);
}

.nav_home:hover{
    filter: brightness(130%);
}

.nav_projects{
    background-color: var(--orange-web);
}

.nav_projects:hover{
    filter: brightness(130%);
}

.nav_workExp{
    background-color: var(--vermilion);
}

.nav_workExp:hover{
    filter: brightness(130%);
}

.nav_certi{
    background-color: var(--persimmon);
}

.nav_certi:hover{
    filter: brightness(130%);
}

.nav_social{
    background-color: var(--carrot-orange);
}

.nav_social:hover{
    filter: brightness(130%);
}
.sidebar{
    display: none;
    box-shadow:0px 5px 10px 5px rgba(0,0,0,0.6) ;
    z-index: 1;
}


.active{
    border-bottom: 5px solid rgba(255,255,255,0.9);

}

.active svg{
    color: rgba(0,0,0,0.6);   
}
.active li{
    color: rgba(0,0,0,0.6);
}

.active span{
    color: rgba(0,0,0,0.6); 
}

@media only screen and (max-width: 920px) {
    .sidebar {
      display: block ;
    }
}