:root {
    --blue: rgb(36, 164, 207);
    --lilac: rgb(153, 96, 170);
    --twilight-lavender: #8e4162ff;
    --black-coffee: #41393eff;
    --pink: rgb(223, 79, 136);
    --dark-jungle-green: #1f2421ff;
    --skobeloff: #216869ff;
    --shiny-shamrock: #49a078ff;
    --eton-blue: #9cc5a1ff;
    --gainsboro: #dce1deff;
    --xiketic: #03071eff;
    --dark-sienna: #370617ff;
    --rosewood: #6a040fff;
    --dark-red: #9d0208ff;
    --rosso-corsa: rgb(238, 29, 29);
    --vermilion: rgb(253, 66, 19);
    --persimmon: #e85d04ff;
    --carrot-orange: #f48c06ff;
    --orange-web: #faa307ff;
    --selective-yellow: #ffba08ff;
}

* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.nav:hover {
    filter: brightness(130%);
}

body {
    font-family: 'Manrope';
}

.container{
    margin: 0rem auto;
    padding: 1rem 3rem;
    max-width: 860px;
}

a{
    text-decoration: none;
    color: black;
}